@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant light (html:not(.dark) &);
body {
    margin: 0;
    font-family: "Maven Pro", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

pre {
    font-family: "Maven Pro", sans-serif;
}

.btn {
    padding: 6px 16px;
    border-radius: 16px;
    transition: all 0.1s;
    cursor: pointer;
    border: none;
    color: white;
}

.btn-primary {
    background-color: #2187d5;
    color: white;
}

.btn-primary:hover {
    background-color: #0e5a8a;
}

.btn-second {
    padding: 5px 15px;
    border-radius: 15px;
    border: 1px solid #2187d5;
    color: #2187d5;
}

.btn-second:hover {
    background-color: #2187d5;
    color: white;
}

.btn-small {
    padding: 2px 12px;
    border-radius: 12px;
    font-size: 10px;
    color: white;
    background-color: #2187d5;
}

.btn-small-outline {
    padding: 1px 11px;
    border-radius: 11px;
    font-size: 10px;
    color: #2187d5;
    border: 1px solid #2187d5;
}

button:disabled,
button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

.active {
    color: #2187d5;
    font-weight: bold;
}

input,
textarea,
select {
    padding: 5px 15px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 5px;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
    outline: none;
    border: 1px solid #2187d5;
}

.helvetica {
    font-family: Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

textarea {
    resize: none;
}

textarea::-webkit-scrollbar {
    width: 3px;
}

/* Handle */
textarea::-webkit-scrollbar-thumb {
    background: #2187d5;
    cursor: pointer;

    border-radius: 5px;
}

.frm-post::-webkit-scrollbar {
    width: 5px;
}

.frm-post::-webkit-scrollbar-thumb {
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #a5bed1;
    cursor: pointer;
}

mark {
    background-color: #ffe9e9;
}

.chatcommu::-webkit-scrollbar {
    width: 5px;
}

.chatcommu::-webkit-scrollbar-thumb {
    background: #a5bed1;
    cursor: pointer;
    border-radius: 5px;
}

.chatcommu::-webkit-scrollbar-thumb:hover {
    background: #2187d5;
}

.bg-linear {
    background: linear-gradient(140deg, rgba(199, 208, 228, 1) 12%, rgba(233, 222, 229, 1) 71%, rgba(218, 215, 229, 1) 100%);
}

.bg-linear-item-purple {
    background: linear-gradient(140deg, rgba(65, 84, 253, 0.7596288515406162) 14%, rgba(137, 144, 219, 0.8940826330532213) 92%);
}

.bg-linear-item-blue {
    background: linear-gradient(140deg, rgba(101, 159, 210, 1) 39%, rgba(144, 178, 208, 1) 74%);
}

.bg-linear-item-pink {
    background: linear-gradient(140deg, rgba(155, 134, 191, 1) 39%, rgba(164, 152, 186, 1) 74%);
}

.bg-linear-item {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5999649859943977) 40%);
}

.bg-linear-item-2 {
    background: linear-gradient(120deg, rgba(33, 135, 213, 0.1966036414565826) 0%, rgba(3, 2, 24, 0.1966036414565826) 100%);
}

.preserve-3d {
    transform-style: preserve-3d;
    transition: transform 0.7s;
}
.rotate-y-180 {
    transform: rotateY(180deg);
}
.backface-hidden {
    backface-visibility: hidden;
}

.shake {
    animation: shake 0.5s;
}

.tada {
    animation: tada 0.5s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes tada {
    0% {
        transform: scale(1);
    }
    10%,
    20% {
        transform: scale(0.9) rotate(-3deg);
    }
    30%,
    50%,
    70%,
    90% {
        transform: scale(1.1) rotate(3deg);
    }
    40%,
    60%,
    80% {
        transform: scale(1.1) rotate(-3deg);
    }
    100% {
        transform: scale(1) rotate(0);
    }
}
