@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Maven Pro", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    padding: 6px 18px;
    background-color: #2187d5;
    color: white;
    border-radius: 15px;
}

button:hover {
    opacity: 0.8;
}
button:disabled,
button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

.active {
    color: #2187d5;
    font-weight: bold;
}

input,
textarea,
select {
    padding: 6px 20px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 10px;
}

input:focus-visible,
textarea:focus-visible {
    outline: none;
    border: 1px solid #2187d5;
}

.helvetica {
    font-family: Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

textarea {
    resize: none;
}

textarea::-webkit-scrollbar {
    width: 3px;
}

/* Handle */
textarea::-webkit-scrollbar-thumb {
    background: #2187d5;
    border-radius: 5px;
}

.frm-post::-webkit-scrollbar {
    width: 5px;
}

.frm-post::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

mark {
    background-color: #ffe9e9;
}

.bg-linear {
    background: linear-gradient(140deg, rgba(199, 208, 228, 1) 12%, rgba(233, 222, 229, 1) 71%, rgba(218, 215, 229, 1) 100%);
}

.bg-linear-item-blue {
    background: linear-gradient(140deg, rgba(101, 159, 210, 1) 39%, rgba(144, 178, 208, 1) 74%);
}

.bg-linear-item-pink {
    background: linear-gradient(140deg, rgba(155, 134, 191, 1) 39%, rgba(164, 152, 186, 1) 74%);
}

.bg-linear-item {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5999649859943977) 40%);
}
