@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Rubik+Mono+One&display=swap");
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bebas-neue-regular {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}

button {
    padding: 6px 16px;
    background-color: #fff;
    border-radius: 4px;
}

button:hover {
    opacity: 0.8;
}

.active {
    background-color: #bbf7d0;
    color: #22c55e;
    font-weight: bold;
}

input,
textarea,
select {
    padding: 6px 20px;
    border: 1px solid #ccc;
    width: 100%;
}

input:focus-visible,
textarea:focus-visible {
    outline: none;
    border: 1px solid #62b669;
}

.helvetica {
    font-family: Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

textarea {
    resize: none;
}

textarea::-webkit-scrollbar {
    width: 3px;
}

/* Handle */
textarea::-webkit-scrollbar-thumb {
    background: #22c55e;
    border-radius: 5px;
}

.frm-post::-webkit-scrollbar {
    width: 5px;
}

.frm-post::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

mark {
    background-color: #ffe9e9;
}
