@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: Montserrat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
    padding: 6px 16px;
    background-color: #fff;
    border-radius: 4px;
}

button:hover {
    opacity: 0.8;
}

.active {
    background-color: #62b669;
}

input,
textarea {
    padding: 6px 20px;
    border: 1px solid #ccc;
    width: 100%;
}

input:focus-visible,
textarea:focus-visible {
    outline: none;
    border: 1px solid #62b669;
}

.helvetica {
    font-family: Helvetica, sans-serif;
}
